.card-text {
  position: absolute; /* Position the background text */
  bottom: 600px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  padding: 10%;
}
