body,
html {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
  font-weight: 700;
}

.landing {
  background-image: url("images/home-parallax-min.jpg");
  display: block;
  max-width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 100;
  transition: 0.5s;
}

.navbar-intersecting {
  background-color: #333;
  transition: 0.5s;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

#logo {
  width: 135px;
  height: 50px;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.nav-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  display: none;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.church-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.church-image {
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.parallax-text {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: white;
  z-index: 10;
}

.text-center {
  text-align: center;
}

.card-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.profile-card-3 {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 700px;
  border: none;
  padding: 20px 0px;
}

.profile-card-3 .background-block {
  float: left;
  width: 100%;

  overflow: hidden;
}
.profile-card-3 .background-block .background {
  width: 100%;
  height: 100%;
  vertical-align: top;
  float: left;
  overflow: hidden;
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 20px 25px;
  color: whitesmoke;
  float: left;
  background: linear-gradient(135deg, #333 0%, #222 100%);
  height: 40%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  transition: all 1.5s;
}

.profile-card-3 .card-content:hover {
  color: #333;
  background: white;
  transition: all 1.5s;
}

.map-container {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.map-container a {
  text-decoration: none;
}

.contact-us {
  display: flex;
  background: #efefef;
}

.church-times,
.socials,
.location {
  flex: 1;
}

.heading,
.heading2,
.heading3 {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.info,
.info2 {
  font-size: 17px;
  text-align: center;
  font-weight: 400;

  position: relative;
  top: 50%;
}

.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.img-container {
  height: 100%;
}

.header-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.our-church {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.youtube {
  align-items: center;
  width: 100%;
}

.youtube-row1 {
  text-align: center;
  margin-bottom: 32px;
}
.youtube-row2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.youtube-iframe {
  width: 700px;
}

.facebook-iframe {
  width: 500px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer-socials,
.footer-left-header,
.footer-contact {
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
}

.footer-left-header {
  padding-bottom: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: row;

  align-content: center;
  padding-top: 40px;
}

.icons {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 30px;
}

.icon-footer {
  padding-right: 20px;
}

footer .footer-left-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;

  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media (max-width: 1068px) {
  .profile-card-3 .card-content {
    height: 60%;
  }
  
  .toggle-button {
    display: flex;
  }

  .nav-links {
    width: 100%;
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  #logo {
    width: 100px;
    height: 50px;
  }
}

@media screen and (max-width: 540px) {
  .landing {
    background-image: url("images/pastor.jpg");
    width: auto;
  }
}

@media screen and (min-width: 1800px) {
  .youtube-iframe {
    width: 940px;
  }
}

@media screen and (min-width: 1500px) {
  .youtube-iframe {
    width: 800px;
  }

  .facebook-iframe {
    width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .profile-card-3 {
    height: 800px;
  }
  .footer-contact {
    flex-direction: column;
  }

  .youtube-row2 {
    flex-direction: column;
  }

  .youtube-iframe {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .profile-card-3 {
    height: 700px;
    margin-bottom: -1vw;
  }

  .youtube-iframe {
    width: 600px;
  }

  .facebook-iframe {
    width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .youtube-iframe {
    width: 540px;
    height: 320px;
  }
  .facebook-iframe {
    width: 500px;
    height: 480px;
  }
}

@media screen and (max-width: 520px) {
  .profile-card-3 {
    height: 600px;
    margin-bottom: 0px;
  }

  .youtube-iframe {
    width: 280px;
    height: 320px;
  }

  .facebook-iframe {
    width: 280px;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .header-text {
    transform: translate(20%, 35%);
  }

  .youtube-iframe {
    width: 280px;
    height: 320px;
  }

  .facebook-iframe {
    width: 280px;
    height: 480px;
  }
}
