body,html {
  height: 100%;
  font-family: "Montserrat";
  padding: 0;
  box-sizing: border-box;
margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}




.card-text{
  position: absolute; /* Position the background text */
  bottom: 800px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(30, 0, 0, 1); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  font-size: 22px;
  font-weight: bolder;
text-align: center;
align-items: center;
}


.card-information{
  color: white;
  opacity: 0.8;
  top:100px;

}


.just-text{
  position: absolute;
  top:1000px;

}

.pimg1{
    background-image: url("images/hero.jpg");
    min-height: 100%;
    position: relative;
    opacity: 0.6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index:-1;
}



/* Containers */

.container-fluid{
  padding: 7% 15%;

}

.logo{
position: absolute;
top: 0;
width: 10%;
background-blend-mode: lighten;
}

.church_img{
  opacity: 0.5;
}

/* Sections */

.white-section {
  background-color: white;
  color: white ;
  max-height: 350px;
}


/* .big-card{
  min-height: 300px;
  text-align: center;
} */

/*
.img-bg{
  background-color:rgb(117, 171, 180) ;
  background-blend-mode: darken;
  } */
/*
.card{
  margin-bottom: 10px;
} */

.colored-section {
  position: relative;
background-color:white;




}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: white;
}

.navbar-begin{
 position: absolute;
 top:0;
}


.card-image {
  width: 100%;
  border-radius: 5%;
}


/*
.overlay {
  -webkit-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 5%;
} */

/* .container:hover .overlay {
  opacity: 0.7;
} */

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.social-icon{
  margin: 20px 20px;
}
